<div id="shape" class="shape">
    <div class="container align">
        <div class="nav align">
            <div class="navItem align">
                <span class="nav1">Y</span>
                <span class="nav1">O</span>
                <span class="nav1">U</span>
                <span class="nav1">R</span>
                <span class="nav1">&nbsp;</span>
                <span class="nav1">S</span>
                <span class="nav1">T</span>
                <span class="nav1">U</span>
                <span class="nav1">F</span>
                <span class="nav1">F</span>
            </div>
            <div class="navItem align">
                <span>B</span>
                <span>R</span>
                <span>O</span>
                <span>W</span>
                <span>S</span>
                <span>E</span>
            </div>
            <div class="navItem align">
                <span>P</span>
                <span>R</span>
                <span>O</span>
                <span>J</span>
                <span>E</span>
                <span>C</span>
                <span>T</span>
                <span>S</span>
            </div>
        </div>
    </div>
    <div class="navItem align">Tokens:&nbsp; <span id="tokens"
            style="font-family: Delicious Handrawn; font-size: 120%;">100</span>
    </div>
</div>
<div class="shape">
    <div class="align">
        <span class="vandit" style="font-size: 400%; margin-bottom: -1.5vh;"><%= userName.charAt(0) %></span>
        <p class="heading"><%= userName %></p>
    </div>
</div>