:root {
    --bg: #262626;
    --accent-1: #746D69;
    --aceent-2: #ACADA8;
    --aceent-3: #CCCDC6;
    --text: #E8E9EB;
    --info: #FCA311;
    --purple: #af52de;
    --purple-shadow: rgba(194, 109, 236, 0.722);
}

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    color: var(--text);
}

body {
    height: 100vh;
    background-color: var(--bg) !important;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    overflow-x: hidden;
    background-size: cover;
}

/* --------- */

.mainContent {
    padding: 5vh 0% 0% 10vw;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.form{
    height: 70vh;
    width: 70vw;
    border-radius: 50px;
    background-color: hsla(0, 0%,100%, 0.050);
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,
            100%, 0.075),
        /* shadow ring 👇 */
        0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
        0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
        0 3.5px 6px hsla(0, 0%, 0%, 0.09);

    display: flex;
}

.topicName, .class, .subject, .file{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* background: red; */
}

label{
    font-size: 1.3vw;
    margin-bottom: 1vh;
}

input{
    width: 20vw;
    height: 3vh;
    background: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1vh 1vw;
    margin-bottom: 5vh;
    font-size: 1vw;
}

textarea:focus, input:focus, select:focus{
    outline: none;
    border: 2px solid #FCA311;
}

select{
    background: rgba( 255, 255, 255, 0.2 );

    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 22vw;
    height: 5vh;
    padding: 1vh 1vw;
    margin-bottom: 5vh;
    font-size: 1vw;
}

.division1{
    width: 50%;
    border-right: hsla(0, 0%,100%, 0.050) 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.division2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    width: 15vw;
    height: 4vh;
    color: black;
    border-radius: 10px;
    border: none;
    font-size: 1.2vw;
    background-color: #e1e2da;
    transition: 150ms all ease-in-out;
}

.button:hover{
    cursor: pointer;
    font-size: 1.2vw;
    background-color: #b4b5ae;
}

.button:active{
    transition: 50ms all ease-in-out;
    cursor: pointer;
    font-size: 1vw;
}