:root {
    --bg: #262626;
    --accent-1: #746D69;
    --aceent-2: #ACADA8;
    --aceent-3: #CCCDC6;
    --text: #E8E9EB;
    --info: #FCA311;
    --purple: rgb(175, 82, 222);
    --purple-shadow: rgba(194, 109, 236, 0.722);
}

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    color: var(--text);
}

body {
    height: 100vh;
    background-color: var(--bg) !important;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    overflow-x: hidden;
}
/* --------- */

.mainContent {
    padding: 5vh 0% 0% 10vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    height: 95vh;
}

.contentHeading {
    font-size: 4vw;
    font-family: bebas neue;
    letter-spacing: 1px;
    text-shadow: whitesmoke 1px 1px 5px;
    color: whitesmoke;
}

.earning{
    font-size: 1.2vw;
    text-shadow: none;
    margin-right: 2.5vw;
    border: var(--purple) 1px solid !important;
    height: 5vh;
    width: 13vw !important;
}

.earning:hover{
    cursor: pointer;
}

.earning:active{
    font-size: 1.1vw !important;
}

.cards {
    margin-top: 10vh;
    height: 100%;
    width: 88vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.row {
    /* height: 37vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: #303030;
    height: 37vh;
    width: 27.33vw;
    border-radius: 40px;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,
            100%, 0.075),
        /* shadow ring 👇 */
        0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
        0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
        0 3.5px 6px hsla(0, 0%, 0%, 0.09);

    display: flex;
    overflow: hidden;
    margin-bottom: 10vh;
    margin-right: 2vw;
}

.info {
    width: 80%;
    border-right: 1px solid rgba(118, 118, 118, 0.441);
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;

}

.subHeading {
    font-family: mouse memoirs;
    font-size: 2.5vw;
    border-bottom: 1px solid rgba(118, 118, 118, 0.441);
    padding-bottom: 1vh;
    width: 100%;
}

.details {
    margin-top: 2vh;
    font-family: roboto slab;
    font-size: 1.1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.button {
    text-decoration: none;
    width: 7vw;
    height: 4vh;
    border-radius: 4px;
    border: hsla(0, 0%, 100%, 0.218) 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 150ms all ease-in-out;
}

.button:hover {
    background-color: hsla(0, 0%, 100%, 0.082);
}
.button:active {
    background-color: hsla(0, 0%, 100%, 0.151);
    transition: 50ms all ease-in-out;
    font-size: 80%;
}

.detailsItem>span {
    font-family: Delicious Handrawn;
    font-size: 1.6vw;
    color: var(--info);
}

.detailsItem {
    margin-bottom: 1vh;
}

.preview {
    overflow: hidden;
}

.pdf {
    position: relative;
    top: -6vh;
    left: -1vw;
}

.add {
    width: 8vw;
    height: 5vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;
    font-size: 1.2vw;
    margin-bottom: 0;
}

.plus {
    font-size: 1.6vw;
    color: var(--purple);
    text-shadow: var(--purple-shadow) 1px 0 30px;
    transition: all 300ms ease-in-out;
}

.add:hover>.plus {
    text-shadow: var(--purple-shadow) 1px 0 50px;
}

.add:active>.plus {
    transition: all 100ms ease-in-out;
    font-size: 1.2vw;
}

.add:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px 5px hsla(0, 0%,
            100%, 0.075),
        /* shadow ring 👇 */
        0 0 0 3px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
        0 0.9px 0.4px hsla(0, 0%, 0%, 0.02),
        0 2.7px 1.5px hsla(0, 0%, 0%, 0.045),
        0 10.5px 6px hsla(0, 0%, 0%, 0.09);
}

.add:active {
    font-size: 1vw;
    transition: all 100ms ease-in-out;
    box-shadow: inset 0 0 30px 15px hsla(0, 0%,
            100%, 0.075),
        /* shadow ring 👇 */
        0 0 0 4.5px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
        0 1.35px 0.4px hsla(0, 0%, 0%, 0.02),
        0 4.05px 1.5px hsla(0, 0%, 0%, 0.045),
        0 15.75px 6px hsla(0, 0%, 0%, 0.09);
}