:root {
    --bg: #262626;
    --accent-1: #746D69;
    --aceent-2: #ACADA8;
    --aceent-3: #CCCDC6;
    --text: #E8E9EB;
    --info: #FCA311;
    --purple: #af52de;
    --purple-shadow: rgba(194, 109, 236, 0.722);
}

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    color: var(--text);
}

body {
    height: 100vh;
    background-color: var(--bg) !important;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    overflow-x: hidden;
}

/* --------- */

.mainContent {
    padding: 0 0% 0% 10vw;
    width: 90vw;
    height: 100vh;
    background: url(/img/money2.png);
    background-repeat: repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* background-size: cover; */
}

.row{
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: space-around;
    align-items: center;
}

.money, .token{
    width: 25vw;
    height: 10vh;
    font-size: 2vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(252, 162, 17, 0.3);
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.money > span, .token > span{
    font-family: Montserrat;
    color: var(--info);
}


.containerConvert{
    width: 88vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.convert{
    margin-bottom: 5vh;
}
.subheading{
    font-size: 2.3vw;
    font-family: roboto mono;
    width: max-content;
    margin-bottom: 5vh;
}

.box{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(252, 162, 17, 0.3);
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 3vh 1vw;
    margin-bottom: 10vh;
}

.rangeCont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.rangeValue {
    font-size: 2vw;
    color: #999;
    font-weight: 400;
  }
  .range {
    width: 400px;
    height: 15px;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--purple);
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px var(--info);
  }
  

  .tokensRange{
    width: 100%;
    text-align: center;
  }

  .buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }

  .button{
    position: absolute;
    margin-top: 20vh;
    font-size: 1.3vw;
    background-color: #969694;
    width: 50vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    font-weight: 700;
    transition: 100ms all ease-in-out;
  }

  .button:hover{
    background-color: #7e7e7b;
  }

  .button:active{
    transition: 50ms all ease-in-out;
    font-size: 1.1vw;
  }

  .convertBtn {
    font-size: 1.3vw;
    background-color: #969694;
    width: 25vw;
    margin-top: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    font-weight: 700;
    transition: 100ms all ease-in-out;
}

.convertBtn:hover {
    background-color: #7e7e7b;
}

.convertBtn:active {
    transition: 50ms all ease-in-out;
    font-size: 1.1vw;
}

.rangeCont > span{
    width: 10vw;
    text-align: center;
}